---
layout: console_layout
---

<script type="text/javascript" src="/js/credential.js"></script>

<h1>Settings</h1>
<p> This is the API key associated with your account:</p>
<div class="row">
  <div class="small-2 columns">
    <label for="credential-api-key">API Key</label>
  </div>
  <div class="small-10 columns">
    <input disabled="<%= true %>" id="credential-api-key" readonly="<%= true %>" type="text" value="Loading..."></input>
  </div>
</div>
<div class="row">
  <div class="small-2 columns">
    <label for="credential-test-api-key">Test API Key</label>
  </div>
  <div class="small-10 columns">
    <input disabled="<%= true %>" id="credential-test-api-key" readonly="<%= true %>" type="text" value="Loading..."></input>
  </div>
</div>
<form method="POST">
  <input class="button small" id="create-service-account-btn" type="button" value="Get new Keys"></input>
</form>
<hr/>
<p> Assign a <span data-tooltip aria-haspopup="true" class="has-tip" title="Associate a callback URL with your account to enable your app to receive notifications when a resource is ready.">callback URL</span>  to your account:  </p>
<div class="row">
  <div class="small-2 columns">
    <label for="callback-url">Callback URL</label>
  </div>
  <div class="small-10 columns">
    <input disabled="<%= true %>" id="callback-url" name="callback-url" readonly="<%= true %>" type="text" value="Loading..."></input>
  </div>
</div>
<form method="POST">
  <input class="button small" id="update-callback-url-btn" type="button" value="Update URL"></input>
</form>
<hr/>
<p> Assign an <span data-tooltip aria-haspopup="true" class="has-tip" title="Associate an SSH key with your account to enable SFTP uploads.">SSH key</span> to your account:  </p>
<div id="ssh-key-div"></div>
<a class="button small" href="#" id="modal-open-btn">Update SSH Key</a>
<div aria-hidden="true" aria-labelledby="modalTitle" class="reveal-modal" id="updateModal" role="dialog">
  <h2>Assign SSH Key</h2>
  <textarea id="public-key" placeholder="Begins with 'ssh-rsa', 'ssh-dss', 'ssh-ed25519', 'ecdsa-sha2-nistp256', 'ecdsa-sha2-nistp384', or 'ecdsa-sha2-nistp521'" rows="12"></textarea>
  <a class="button small" href="#" id="ssh-key-update-btn">Save</a>
</div>
